<h1>TransactionDetails</h1>

<table>
  <thead>
    <tr>
      <th>Transaction Id</th>
      <th>Payment status</th>
      <th> Order Id</th>
      <th>Order amount</th>

    </tr>
  </thead>
<tr>
  <td><%=@transaction.id%></td>
  <td><%=@transaction.payment_status%></td>
  <td><%=@transaction.order_id%></td>
  <td><%=@transaction.order_amount%></td>
</tr>
</table>